.App {
  text-align: center;
  scroll-behavior: smooth;

}


.products:img{
  padding: 5px;
  width: 50%;
  height: 200px;
  



}
.products{
  
  display: grid;
  


grid-template-columns: 10fr 10fr;

  


}
.product{
  border: 1px solid black;

  display: grid;
  width: 270px;
  height: fit-content;
}
button{
  font-size: 20px;
padding:5px;
}
header{
  background-color:aqua;
height: 70px;
padding-top: 20px;

}
*{
  box-sizing: border-box;
}
img {
  width: 270px;
  border: 1px solid black;
  border-top: none;
}